

#container{
  position: center;
  margin-top: 15px;
  display: block;
  right: 50%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 450px;
  width: 600px;
  border: #e7e7e7 solid 2px;
}

#calc-shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 225px;
  background-color: rgb(255, 204, 217);
  border: solid 2px rgb(222, 88, 111);
  border-radius: 15px; 
  padding: 5px;
}

.display-container {
  margin: 10px;
  height: 25px;
  width: 150px;
  background-color: #e7e7e7;
  border-top-left-radius: 15px;
  border-top-right-radius:15px;
  border: solid 4px white;
}
.display {
  height: 50px;
  width: 350px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 260px;
  width: 200px;
  padding: 5px;
  background-color: white;
}

.left-button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  
  
}
.right-button-container {
  padding-top: 2px;
  gap: 0.5px;
  display:flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: blue;

}
.right-button {
  margin: 2px;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #e7e7e7;
}
.top-button-container {
  display: flex;
  justify-content: start ;
  align-items: start;
  background-color: red;
}
.top-btn {
  margin: 2px;
  margin-top: 4px;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #e7e7e7;
}
.clear{

}
.delete{

}
.pos-neg{

}

.number-button-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  background-color: blueviolet;
}
.row-one{
  display: flex;
  flex-direction: row;
  align-items: start;

}
.row-two{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.row-three {
  display: flex;
  flex-direction: row;
}
.row-four { 
  display: flex;
  flex-direction: row;
}
.num-btn  {
  margin: 2px;
  margin-top: 4px;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #e7e7e7;
}
#btn0 {
  height: 40px;
  width: 80px;
}