
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 238, 220)

}

#container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 450px;
  width: 600px;
  border: #e7e7e7 solid 2px;
}

#calc-shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
  height: 550px;
  width: 425px;
  background-color: rgb(255, 204, 217);
  border: solid 2px rgb(222, 88, 111);
  border-radius: 15px; 
  padding: 10px;
}

.display-container {
  margin: 10px;
  height: 50px;
  width: 350px;
  background-color: #e7e7e7;
  border-top-left-radius: 15px;
  border-top-right-radius:15px;
  border: solid 4px white;
}
.display {
  height: 50px;
  width: 350px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  height: 350px;
  width: 350px;
  padding: 5px;
  background-color: aqua;
}

.left-button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  gap: 10px;
  
}
.right-button-container {
  margin-top: 10px;
  height: 300px;
  width: 100px;
  background-color: blue;

}
.right-button {
  margin: 2px;
  margin-top: 4px;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #e7e7e7;
}
.top-button-container {
  display: flex;
  height: 50px;
  width: 200px;
  background-color: red;
}
.top-btn {
  margin: 2px;
  margin-top: 4px;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #e7e7e7;
}
.clear{

}
.delete{

}
.pos-neg{

}

.number-button-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  background-color: blueviolet;
}
.row-one{
  display: flex;
  flex-direction: row;

}
.row-two{
  display: flex;
  flex-direction: row;
}
.row-three {
  display: flex;
  flex-direction: row;
}
.row-four { 
  display: flex;
  flex-direction: row;
}
.num-btn  {
  margin: 2px;
  margin-top: 4px;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: #e7e7e7;
}
#btn0 {
  height: 40px;
  width: 80px;
}